#messages {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    height: 400px;
    overflow-y: auto;
    padding: 12px;
}

#message-input {
    width: 92.5%;
    height: 3em;
    line-height: 3.5em;
    padding: 1em;
    margin-top: 1em;
}